<div class="navbar-fixed">
  <nav class="sml-nav p-r-0">
    <div class="nav-wrapper info-gradient">

      <a href="/" class="brand-logo center">Scraping News!</a>

      <a href="#" data-target="collapsed-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="left hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn danger-gradient white-text">Scrape</a></li>
        <li><a class="waves-effect waves-light btn danger-gradient white-text">Saved</a></li>
        <li><a class="waves-effect waves-light btn danger-gradient white-text">Clear</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="collapsed-menu">
  <li><a class="waves-effect waves-light btn danger-gradient white-text">Scrape</a></li>
  <li><a class="waves-effect waves-light btn danger-gradient white-text">Saved</a></li>
  <li><a class="waves-effect waves-light btn danger-gradient white-text">Clear</a></li>
</ul>