<div class="main-wrapper">
    {{> nav }}

    <br>

    <div class="container">
        <div class="row">
            {{#if articles}}
                {{#each articles}}
                    {{> article}}
                {{/each}}
            {{else}}
                <div class="col s12">
                    {{#if saved}}
                        <p class="flow-text center-align">No articles saved. First save some articles. <a href="/">Go home</a>.</p>
                    {{else}}
                        <p class="flow-text center-align">No articles found. Click the `Scrape` button to get started.</p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>